<div id="footer">


   
   <div class="footer-bottom">
       <div class="ui grid container">
           <div class="row">
               <div class="ui twelve wide mobile eight wide computer column">
                   <a href="#" class="footer-logo">
                       <img src="{{asset('assets/hg-dev.png')}}"  alt="mycar logo" >
                       © Hatem ghorbel 2022                  </a>
               </div>
               <div class="ui twelve wide mobile four wide computer column">
                   <ul class="social-links-sq list-style-inline-sq list-default-sq">
                        <li><a href="#" class="fb"><i class="icon icon-logo-facebook2"></i></a></li>

                  
                    </ul>
               </div>
           </div>
       </div>    
   </div>
    
</div>